#nccf_logo  {
width: 150px;
height: 41.967px;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;

}

#navbar {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

button {
    background: #DD3333;
    color: white;
    border: none;
    /* gap: 8px; */
    padding: 12px 24px;
    justify-content: center;
    text-align: center;
}

